<h5>Add New Driver</h5>

  <!-- <form class="example-form" [formGroup]="profileForm" >
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Favorite food</mat-label>
      <input matInput formControlName="firstName" placeholder="Ex. Pizza" value="Sushi">
    </mat-form-field>
  
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Leave a comment</mat-label>
      <textarea matInput formControlName="lastName" placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
  </form> -->


  <form [formGroup]="profileForm" class="w-full max-w-lg" (ngSubmit)="createDriver()">
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>First Name</mat-label>
          <input type="text" matInput formControlName="firstName"
                 placeholder="Ex. John">
        </mat-form-field>

      </div>
      <div class="w-full md:w-1/2 px-3">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Last Name</mat-label>
          <input type="text" matInput formControlName="lastName"
                 placeholder="Ex. Doe">
        </mat-form-field>
      </div>
    </div>


    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <mat-form-field appearance="fill">
          <mat-label>Date Of Birth</mat-label>
          <input matInput formControlName="dateOfBirth" [matDatepicker]="dateOfBirth">
          <mat-datepicker-toggle matSuffix [for]="dateOfBirth"></mat-datepicker-toggle>
          <mat-datepicker #dateOfBirth></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="w-full md:w-1/2 px-3">
        <mat-form-field appearance="fill">
          <mat-label>Date Of Joining</mat-label>
          <input matInput formControlName="dateOfJoining" [matDatepicker]="dateOfJoining">
          <mat-datepicker-toggle matSuffix [for]="dateOfJoining"></mat-datepicker-toggle>
          <mat-datepicker #dateOfJoining></mat-datepicker>
        </mat-form-field>
      </div>
    </div>


    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Phone Number</mat-label>
          <input type="text" matInput formControlName="contactNumber"
                 placeholder="Ex. +91-xxxxx">
        </mat-form-field>
      </div>
      <div class="w-full md:w-1/2 px-3">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="emailId"
                 placeholder="Ex. pat@example.com">
        </mat-form-field>
      </div>
    </div>


    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Aadhar Number</mat-label>
          <input type="text" matInput formControlName="aadharNumber"
                 placeholder="Ex. XXXX XXXX XXXX">
        </mat-form-field>
      </div>
      <div class="w-full md:w-1/2 px-3">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Pan Number</mat-label>
          <input type="text" matInput formControlName="panNumber"
                 placeholder="Ex. XXXXXXXXXX">
        </mat-form-field>
      </div>
    </div>

    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Driving Licence Number</mat-label>
          <input type="text" matInput formControlName="drivingLicenceNumber"
                 placeholder="Ex. XXXX XXXX XXXX">
        </mat-form-field>
      </div>
      <div class="w-full md:w-1/2 px-3">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Monthly Salary</mat-label>
          <input type="number" matInput formControlName="driverSalary">
        </mat-form-field>
      </div>
    </div>

    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <mat-form-field appearance="fill">
          <mat-label>Division</mat-label>
          <mat-select (selectionChange)="someMethod($event.value)" formControlName="DivisionId">
            <mat-option *ngFor="let div of divisions" [value]="div.divisionId">
              {{div.divisionName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="w-full md:w-1/2 px-3">
        <mat-form-field appearance="fill">
          <mat-label>Depo</mat-label>
          <mat-select formControlName="DepoId">
            <mat-option  *ngFor="let depo of depos" [value]="depo.depoId">
              {{depo.depoName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="flex items-center justify-between">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
        Create Driver
      </button>
    </div>
  </form>